:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --decor-color: #ff0070;
  --accent-color: #ff0070;
  --hover-color: #ff007066;
  --main-title-color: #db00ff;
  --title-color: #000028;
  --text-color: #f1b2ce;
}

.theme-dark .header__decor {
  display: flex;
}
