:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --decor-color: #353430;
  --accent-color: #ff8dcb;
  --hover-color: #32312d66;
  --main-title-color: #ffc2e6;
  --title-color: #353430;
  --text-color: #353430;
}

.theme-light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --decor-color: #353430;
    --accent-color: #ff8dcb;
    --hover-color: #32312d66;
    --main-title-color: #ffc2e6;
    --title-color: #353430;
    --text-color: #353430;
  }

  .header__decor {
    display: none;
  }
}
